<!-- Header -->
				<div id="header-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<header id="header">

									<h1><a href="/" id="logo">АГРО-М</a></h1>
									<nav id="nav">
										<a href="~/aboutass.html">О нас</a>
										<a href="/" class="current-page-item">Актуальные предложения</a>
										<a href="customers.html">Покупатели</a>
									</nav>
								</header>
							</div>
						</div>
					</div>
				</div>
